* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

#remote-control {
    position: fixed;
    width: 100%;
    height: 100px;
    text-align: center;
}

#remote-control > ul{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 30px;
}

#remote-control > ul > li{
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    transition: all 0.5s;
}

#remote-control > ul > li:hover{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

#remote-control > #hide{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 20%;
    width: 100%;
    font-size: 15px;
    transition: all 0.5s;
    top: 80px;
}

#hide:hover {
    color: white;
}

#show:hover {
    color: white;
}

#remote-control > #show{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 20%;
    width: 100%;
    top: 0;
    font-size: 15px;
    transition: all 0.5s;
}

.hidden{
    display: none;
}

#portfolio {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
}

.card-list {
    display: grid;
    width: 1030px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.card {
    height: 300px;
}

.card > .canvas-container {
    width: 100%;
    height: 250px;
}

canvas {
    width: 100%;
    height: 100%;
}

.card > .info > p{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.chart{
    width: 60%;
    height: 500px;
}

#header {
    height: 1000px;
    background-color: rgba(20, 40, 200, 0.5);
    text-align: center;
}

#header > h1 {
    line-height: 300px;
    font-size: 100px;
}

#header > h1 a{
    width: 150px;
    height: 750px;
    font-size: 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: darkturquoise;    
}

#visual {
    box-sizing: border-box;
    width: 100%;
    height: 1000px;
    background-color: rgba(2000, 150, 100, 0.5);
    text-align: center; 
}

#visual > h1 {
    font-size: 50px;
    font-weight: bold;
}

#visual .content {
    margin-top: 50px;
    width: 80%;
    height: 100%;
    margin: auto;
}

#visual .fund-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 340px;
    grid-gap: 15px;
    padding: 20px;
    height: 100%;
    align-self: center;
    
}

#visual .fund {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    overflow: hidden;
}

.fund .info {
    margin: auto;
    width: 80%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

#visual .fund > .canvas-container {
    width: 100%;
    height: 200px;
}

#visual .fund > .canvas-container > img{
    border-bottom: 10px solid black;
    width: 100%;
    height: 100%;
}


footer {
    height: 200px;
    background-color: rgba(40, 150, 100, 0.5);
    text-align: center;
}

.footermenu{
    line-height: 100px;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-blue {
    color: #fff;
    background-color: #007bff;
    border-color: #007dff;
}

.btn-blue:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-blue:hover {
    background-color: #c82333;
    border-color: #db2130;
}

.btn-sm {
    font-size: 0.7rem;
}

.btn-lg {
    font-size: 1.1rem;
}